fastapi==0.115.6
uvicorn==0.34.0
ultralytics==8.3.60
opencv-python-headless==4.10.0.84
numpy<2.0
python-multipart==0.0.19
pillow==11.1.0
torch==2.2.2
torchvision==0.17.2
pymysql==1.1.1
cryptography==44.0.0
prometheus-fastapi-instrumentator==7.0.1
DBUtils==3.1.0
httpx==0.28.1
redis==5.2.1
onnx==1.16.1
onnxruntime==1.19.2
